.tab-bar {
  --height: 32px;
  display: flex;
  height: var(--height);
  background-color: white;
  margin: 12px 27px 12px 12px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px gray;
  overflow-y: hidden;
}

.tabs-list div:first-child {
  border-radius: 4px 0px 0px 4px;
}

.main-pane {
  display: flex;
}

.add-option {
  width: var(--height);
  height: var(--height);
  font-size: var(--height);
  color: black;
  margin-left: 8px;
}

* {
  box-sizing: border-box;
}
