.tab {
  display: inline-grid;
  width: 180px;
  height: var(--height);
  grid-template-columns: var(--height) auto var(--height);
  align-items: center;
  justify-items: center;
  cursor: default;
  padding: 0px 4px;
  border-bottom: 2px solid transparent;
}

.tab:hover {
  background-color: #F5F5F5;
}

.selected-tab {
  border-bottom: 2px solid blue;
}

.favicon {
  width: 18px;
  height: 18px;
  background-color: aliceblue;
}

.title {
  overflow: hidden;
  height: 16px;
  justify-self: flex-start;
  margin-left: 2px;
}

.close {
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: black;
}

.tab:hover .close {
  color: blue;
}
