.tab {
  display: inline-block;
  width: 150px;
  height: var(--tab-bar-height);
  padding: 6px;
  overflow-y: hidden;
  cursor: default;
}

.tab:hover {
  background-color: lightgray;
}

.selected-tab {
  border-bottom: 2px solid blue;
}
