@import url('/font-icon.css');

.popup {
  width: 260px;
  padding: 12px 8px;
}

.title {
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin-left: 12px;
}

.options {
  margin-top: 20px;
}
