.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  speak: none;
}
