@font-face {
  font-family: 'font-icon';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/font-icon.woff') format('woff');
}

.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  speak: none;
  cursor: pointer;
  user-select: none;
}
